.deprecation-warning, .pageinfo.deprecation-warning {
    padding: clamp(10px, 2vmin, 20px);
    margin: clamp(10px, 1vh, 20px) 0;
    background-color: #faf5b6;
    color: #000;
}

.deprecation-warning.outdated-blog, .pageinfo.deprecation-warning.outdated-blog {
    background-color: $blue;
    color: $white;
}

.pageinfo {
    @include media-breakpoint-up(lg) {
        max-width: 80%;
    }
}

body.td-home .deprecation-warning, body.td-blog .deprecation-warning, body.td-documentation .deprecation-warning {
    border-radius: 3px;
}

.deprecation-warning p:only-child {
  margin-bottom: 0;
}

#deprecation-warning > .deprecation-warning a {
    background: transparent;
    color: inherit;
    text-decoration: underline;
}

