.td-cncf-block {
  padding: 0 !important;
  .container {
    padding-top: 80px !important;
    padding-bottom: 8px !important;

    @media (max-width: 991px) {
      padding-top: 136px !important;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 16px !important;
    }
  }

  a {
    color: $flux-darkest-blue;
  }
}

.is-cncf-logo {
  width: 50%;
  height: auto;
  padding-bottom: 16px !important;
}
