.td-cncf-block {
  padding: 0 !important;
  .container {
    padding-top: 80px !important;
    padding-bottom: 8px !important;

    @include media-breakpoint-down(sm) {
      padding-top: 16px !important;
    }
  }

  a {
    color: $flux-darkest-blue;
  }
}
