h2.section-label {
  font-weight: 600;
  margin-bottom: 1rem;
}

.features, .resources {
  .col-lg-4 {
    margin: 2rem 0rem !important;
    padding: 0 2rem !important;
  }

  .h3 {
    margin-top: 2rem;
    font-weight: 600;
  }

  h4 {
    font-weight: 600;
    margin: 0.85rem 0;
  }
}

.features {
  .fas, .fab, .fa {
    color: #2a7de3;
  }
}

.resources {
  h4 {
    color: white;
  }
  img {
    width: 320px;
    height: 180px;
  }
}

.flux-other-projects {
  section {
    margin: 0 auto;
  }
}

.section-community {
  section.row.td-box {
    padding-top: 1rem;
  }

  .h3 {
    font-weight: 600;
  }

  .join-github {
    margin-top: 48px;
  }

  .join-slack, .join-ml  {
    margin-top: 72px;
  }

  p > a {
    font-size: 1.5rem;
  }
}