// // override docsy styles
nav.navbar {
  background: $flux-black;

  padding: 0;
  @include media-breakpoint-down(md) {
    padding: 10px;
  }

  .navbar-brand {
    flex-grow: 1;

    svg {
      display: inline-block;
      margin: 0 10px;
      height: 30px;
    }
  }

  .navbar-nav {
    margin-top: 0 !important;
    overflow: visible !important;
    flex-wrap: wrap;
    justify-content: space-between;

    .nav-link {
      font-size: 1rem;
      text-transform: none;
      font-weight: 700;
    }
  }

  .nav-search-item {
    .td-search-input {
      border: none;
      max-width: 11rem;
      padding-left: 9px;
      margin-right: 1rem;
      @include media-breakpoint-up(md) {
        margin-left: 2rem;
      }
    }
  }
}


.td-sidebar-nav {
  .td-sidebar-link.tree-root {
    @include media-breakpoint-up(md) {
      // https://github.com/fluxcd/website/pull/365#issuecomment-870876960
      // maybe report upstream docsy and fix there?

      margin-top: 1rem;
    }
  }

  // some of the links looked "disabled" - maybe also report upstream?
  .td-sidebar-link__page {
    color: $gray-900;
    font-weight: unset;
  }
}

// for now until https://github.com/google/docsy/issues/616 is fixed
nav.foldable-nav {
  input:checked ~ ul.foldable {
    max-height: 1000vmax;
  }
}
