{{ define "main" }}

<a class="td-offset-anchor"></a>
<div class="page td-content container">

    {{ partial "version-banner.html" . }}

    {{ .Content | markdownify }}

    {{ $resources := $.Site.Data.resources.resources }}
    {{ $years := slice }}
    {{ range $resources }}
        {{ $years = $years | append (time.Format "2006" .date) }}
        {{ $years = uniq $years }}
    {{ end }}
    {{ range $years }}
    {{ $year := . }}
    <h2 id={{ . }}>{{ . }}</h2>
    <a id=td-block-0 class=td-offset-anchor></a>
    <section class="row td-box td-box--white td-box--gradient td-box--height-auto">
        <div class=col>
            <div class=row>
                {{ range $resources }}
                {{ if eq (time.Format "2006" .date) $year }}
                    {{ partial "resource.html" . }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    {{ end }}

</div>
{{ end }}
