# Node.js assets
node_modules/

# Hugo-generated assets
public/
resources/
themes/docsy
themes/docsy-*

# Imported Flux CLI assets
content/en/docs/cmd/flux*
static/install.sh

# Editors
.vscode

# Netlify build deps
yq
