# Node.js assets
node_modules/

# Hugo-generated assets
public/
resources/
themes/docsy
themes/docsy-*

# Imported Flux CLI assets
content/en/docs/cmd/flux*
static/install.sh

# Adopters logos
static/img/logos

# Editors
.vscode

# Mac specific things
.DS_Store
