# Node.js assets
node_modules/

# Hugo-generated assets
public/
resources/
themes/docsy
themes/docsy-*

# clone of gohugoio/hugo for docker-support
hugo/

# Imported Flux CLI assets
content/en/docs/cmd/flux*
static/install.sh

# Adopters logos
static/img/logos

# local GH token, used for some scripts
.gh-token

# Imported snippets
static/snippet/docs/install/curlchecksum.sh
static/snippet/docs/install/curldarwin_amd64.sh
static/snippet/docs/install/curldarwin_arm64.sh
static/snippet/docs/install/curllinux_amd64.sh
static/snippet/docs/install/curlwindows_amd64.ps1
static/snippet/docs/install/tardarwin_amd64.sh
static/snippet/docs/install/tardarwin_arm64.sh
static/snippet/docs/install/tarlinux_amd64.sh
static/snippet/docs/install/verifydarwin_amd64.sh
static/snippet/docs/install/verifydarwin_arm64.sh
static/snippet/docs/install/verifylinux_amd64.sh
static/snippet/docs/install/verifywindows_amd64.ps1
static/snippet/docs/install/zipwindows_amd64.ps1
static/snippet/docs/latestrelease.md
