[build]
  publish = "public"
  command = "make production-build"

[build.environment]
  HUGO_VERSION = "0.83.1"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview]
  command = "make preview-build"

[context.branch-deploy]
  command = "make branch-build"
