

div.scrollmenu img {
  display: inline-block;
  color: white;
  text-align: center;
  height:100%;
  padding-right:30px;
  text-decoration: none;
 
}
div.carousel-inner{
  
  height:100%;
  margin-left: px;
}
div.carousel-item active{
  
  height:100%;
}
div.scrollmenu img {
  transition: 0.5s all ease-in-out;
}
div.scrollmenu img:hover {

 transform: scale(1.5);
}

div.scrollmenu {
  height:100%;
  overflow: hidden;
  white-space: nowrap;
  scroll-margin-left:4000;
  animation-name: move;
  animation-iteration-count: infinite;
  animation-duration: 375s;
  animation-direction: right;
  animation-timing-function:linear;
}

  @keyframes move {
    0% {
      margin-left: -8000px;
    }
    100% {
      margin-left: 800px;
    }
  }
  div.scrollmenu:hover {
    animation-play-state: paused;
  }

  

