@if $enable-rounded {
    .btn {
        border-radius: $btn-border-radius;

        &-lg {
            border-radius: $btn-border-radius-lg;
        }

        &-sm {
            border-radius: $btn-border-radius-sm;
        }
    }
}


@mixin projects-btn-primary {
  a.btn-primary {
    background-color: rgba($flux-darkest-blue, 0.5);
    border-color: $flux-darkest-blue $flux-darkest-blue $flux-black $flux-black !important;
    margin-right: 1rem;
    padding-left: 1rem;

    &:hover {
      background-color: rgba($flux-darkest-blue, 0.7) !important;
      box-shadow: none !important;
    }

    &:active {
      background-color: $flux-light-blue !important;
      box-shadow: none !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}

@mixin projects-btn-secondary {
  a.btn-secondary {
    color: $flux-gray;
    background-color: rgba($flux-light-blue, 1);
    border-color: $flux-gray $flux-gray $flux-light-gray $flux-light-gray !important;
    margin-right: 1rem;
    padding-left: 1rem;

    &:hover {
      // color: $flux-lighter-blue;
      background-color: rgba($flux-light-blue, 0.7) !important;
      box-shadow: none !important;
    }

    &:active {
      background-color: $flux-light-blue !important;
      box-shadow: none !important;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
