.features, .resources {
  .col-lg-4 {
    margin: 2rem 0rem !important;
    padding: 0 2rem !important;
  }

  .h3 {
    margin-top: 2rem;
    font-weight: 600;
  }

  h4 {
    font-weight: 600;
    margin: 0.85rem 0;
  }
}

.features {
  .fas, .fab, .fa {
    color: $flux-dark-blue;
  }
}

.resources {
  h4 {
    color: $flux-white;
  }
  img {
    width: 320px;
    height: 180px;
  }
}

h2.section-label {
  font-weight: 600;
  margin-bottom: 1rem;
}

.td-content {
  div.lead  {
    display: none;
  }
}


.section-resources {
  .td-box {
    background-color: $flux-gray;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234f4f4f' fill-opacity='0.43' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
}

.section-other-flux-projects {
  section.td-box--6 {
    background-color: $flux-dark-blue;
  }

  .td-arrow-down::before {
    border-top-color: $flux-dark-blue;
  }

  .-bg-green {
    background-color: $flux-green;
  }
}


.section-community {
  background-color: $flux-gray;

  section.row.td-box {
    padding-top: 1.5rem;
  }

  .h3 {
    font-weight: 600;
  }

  .join-github {
    margin-top: 48px;
  }

  .join-slack, .join-ml  {
    margin-top: 72px;
  }

  p > a {
    font-size: 1.5rem;
  }

  h2.section-label {
    margin: 1rem 0 2rem 0;
  }
}

