.integrations {

    .card-deck {

      .card {
        min-width: 300px;
        max-width: 300px;

        .img-fluid {
            width: 250px;
        }
      }

      .card-header {
        overflow-wrap: break-all;
        hyphens: auto;
      }
    }
  }