.flux-logo-inner-header-left {
  width: 33.3333333333%;
  float: left;
  figure {
    padding-left: 3.75%;
    padding-right: 3.75%;
  }
}

.float-header-kubecon {
  float: left;
  width: 50%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.inner-header-right-align {
  width: 16.6666666667%;
  float: left;
}

.stickers-float-left {
  width: 50%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.float-booth-fun {
  width: 50%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.td-content h1 {
  font-weight: 700;
  margin-bottom: 1rem;
}
.td-content h2:not(:first-child) {
  margin-top: 3rem;
}
.td-content h2 {
  margin-bottom: 1rem;
}

// div:has(> .qr-code-right-align) {
// }

.qr-code-right-align {
  width: 20%;
  float: right;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.float-share-this-site {
  width: 20%;
  float: right;
  clear: right;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
