@import "variables_project";
@import "../../themes/docsy/assets/scss/main.scss";
@import "buttons";
@import "blocks/blocks";
@import "adopters";
@import "page";
@import "index";
@import "buttons";
@import "terminal";
@import "tabs";
@import "responsive-video";
