{{ define "main" }}
	<main class="blog container">
    <div class="wrapper">
    {{ range (.Paginate .Pages).Pages }}
      <article class="content">
        <header>
          <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <p class="subtitle is-6 py-3">
            {{ partial "widgets/date" . }}
            {{ partial "widgets/reading-time" . }}
          </p>
        </header>
        <p>
          {{ .Summary }}
        </p>
        {{ if .Truncated }}
          <p>
            <a href="{{ .RelPermalink }}">{{ T "ui_read_more" }}</a>
          </p>
        {{ end }}
      </article>
    {{ end }}
    </div>
	</main>
{{ end }}
