{{ $features := $.Page.Params.features -}}

<div class="container features">
    <div class="row feature-section mb-5">
      <div class="col-lg-12 mt-5 mb-5">
        <h2 class="text-center">Features</h2>
      </div>

      {{ range $features -}}
      {{ $icon  := .icon -}}
      {{ $desc := .description | markdownify -}}
      {{ $title := .title | markdownify -}}

      <div class="col-lg-4 mb-5">
        <div class="feature-card">
          <div class="card-header-custom">
            <i class="{{ $icon }} fa-2x"></i>
            <h4 class="my-3">{{ $title }}</h4>
          </div>
          <p class="section-text">{{ $desc }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
