<style>

div.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    height:100%;
    padding-right:30px;
    text-decoration: none;
   
  }
  div.carousel-inner{
    
    height:100%;
    margin-left: px;
  }
  div.carousel-item active{
    
    height:100%;
  }
  div.scrollmenu img {
    transition: 0.5s all ease-in-out;
  }
  div.scrollmenu img:hover {
   transform: scale(1.5);
  }

  div.scrollmenu {
    height:100%;
    overflow: hidden;
    white-space: nowrap;
    scroll-margin-left:4000;
    -webkit-animation-name: move;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: right;
    -webkit-animation-timing-function:linear;
  }
  


@media screen and (min-device-width: 200px){
    /* some CSS here */
    @-webkit-keyframes move {
      0% {
        margin-left: -8000px;
      }
      100% {
        margin-left: 800px;
      }
    }
    div.scrollmenu {
     -webkit-animation-duration: 240s;
    }
  }

  
  div.scrollmenu:hover {
    -webkit-animation-play-state: paused;
  }



</style>
 <div id ="adopters-wall">
 <h2 class="adopters-label">Adopted by</h2>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div id="logos">
            <div class="col">
              <div class="scrollmenu">
                <div id ="images">
                {{ readFile "/content/en/adopters_wall_include.html" | safeHTML }}
               </div>
              </div>

            </div>
          </div>
        </div>
     </div>
   </div>
  </div>
