<section class="row adopters p-0">
  <div class="col">
    <h2 class="text-center section-label">Adopted by</h2>
    <div id="carousel-selected-indicator" class="carousel slide" data-ride="carousel" data-interval=4000>
      <div class="carousel-inner">
        <a href="/adopters">
          {{ readFile "/content/en/adopters_carousel_include.html" | safeHTML }}
        </a>
      </div>

      <a class="carousel-control-prev" href="#carousel-selected-indicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-selected-indicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
  