<section class="row adopters-carousel p-0">

  <div id="foreground-adopters">
    <h2 class="text-center section-label">Adopted by</h2>

    <div id="carousel-selected-indicator" class="carousel slide" data-ride="carousel" data-interval=false>
      <div class="carousel-inner">
        <div id="background-logos">
          <div class="col">
            {{ readFile "/content/en/adopters_bg_include.html" | safeHTML }}
          </div>
        </div>

        <div class="carousel-item active">
          <div class="foreground-item">
            <div class="logo">
              <img src="/img/logos/mettle.png" alt="">
            </div>


            <div class="case-study">
              <div class="summary">
                <div class="business">
                  <ul>
                  <li><strong>Industry: </strong>Finance</li>
                  <li><strong>Location: </strong>London</li>
                  </ul>
                </div>

                <div class="details">
                  <h3>Highlights</h3>
                  <ul>
                    <li>Production speed increased by 50%</li>
                    <li>Deployments increased by 75%</li>
                    <li>MTTR in 20min for all clusters</li>
                    <li>Devs 75% less focused on operations</li>
                  </ul>
                </div>

                <div class="details">
                  <h3>Key Benefits</h3>
                  <ul>
                    <li>GitOps enabled a self-service Development Team</li>
                    <li>Weave Flux enabled greater security into their workflows</li>
                  </ul>
                </div>
              </div>
          
              <div class="description">
                Leveraging GitOps has allowed us to create a self-service platform for engineers so they can concentrate on delivering business value through innovation, without the full need for Platform Team assistance. The engineers focus on building container images and managing the testing of their microservices and Weave Flux handles the deployments.
                <br/>
                <a href="https://www.weave.works/blog/case-study-mettle-leverages-gitops-for-self-service-developer-platform"> Mettle case study with Weaveworks</a>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="foreground-item">
            <div class="logo">
              <img src="/img/logos/tidepool.png" alt="">
            </div>
            <div class="case-study">
              <div class="summary">
                <div class="business">
                  <ul>
                  <li><strong>Industry: </strong>Software</li>
                  <li><strong>Location: </strong>United States of America</li>
                  </ul>
                </div>

                <div class="details">
                  <h3>Key Benefits</h3>
                  <ul>
                    <li>GitOps provides a low-risk self-deploymemnt model</li>
                    <li>Significant time savings with automated cluster lifecycle management</li>
                    <li>Robust and secure platform with built-in auditability</li>
                  </ul>
                </div>
              </div>
          
              <div class="description">
                For Kubernetes, Gitops provides a simple audit trail that is invaluable in figuring out what has broken. Flux (and our Tidebot) give our developers a low-risk self-deployment option. Together, Flux and GitOps accelerate our innovation.
                <br/>
                <a href="https://www.weave.works/blog/case-study-tidepool-streamlines-and-secures-cluster-lifecycle-with-gitops"> Tidepool case study with Weaveworks</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carousel-selected-indicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-selected-indicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
  