{{ $description := site.Params.celebration.description | markdownify }}
{{ $emoji := site.Params.celebration.emoji | markdownify }}
{{ $url := site.Params.celebration.url }}
{{- if and ($description) (ne .RelPermalink $url) }}
<div class="notification no-radius is-warning mb-0 is-hidden-mobile">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-1">
        <p class="is-size-1 has-text-right">
          {{ $emoji }}
        </p>
      </div>
      <div class="column">
        <p class="is-size-4 has-text-justified has-text-weight-semibold has-text-info">
          <a href="{{ $url }}">
            {{ $description }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
{{- end }}
