{{ $title    := site.Title }}
{{ $desc     := site.Params.description | markdownify }}
{{ $logo     := printf "img/logos/%s" site.Params.logos.footer | relURL }}
{{ $menu     := site.Menus.main }}
{{ $year     := now.Year }}
{{ $author   := site.Params.copyright }}
{{ $github   := printf "https://github.com/%s" site.Params.github_repo }}
{{ $support  := site.Params.support }}
{{ $slack    := site.Params.slack }}
{{ $mail     := site.Params.mailing_list }}
{{ $twitter  := site.Params.twitter }}
{{ $linkedin := site.Params.linkedin }}
{{ $youtube  := site.Params.youtube }}
{{ $rss      := site.Params.rss }}
<footer class="footer has-background-black">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-quarter">
        <img class="is-footer-logo" src="{{ $logo }}" alt="{{ $title }} footer logo">
      </div>

      <div class="column">
        <p class="title is-size-3 is-size-4-mobile has-text-white has-text-weight-light">
          {{ $desc }}
        </p>

        <hr class="has-background-dark" />

        <div class="columns is-vcentered">
          <div class="column">            
            {{ range $menu }}
            {{ if .HasChildren }}
            <p class="is-size-5 is-size-6-mobile has-text-white has-text-weight-bold">
              {{ .Name }}
            </p>

            {{ range .Children }}
            <a class="is-indented has-text-grey" href="{{ .URL }}" target="_blank">
              {{ .Name }}
            </a>
            <br />
            {{ end }}
            {{ else }}
            <a class="is-size-5 is-size-6-mobile has-text-white has-text-weight-bold" href="{{ .URL }}" target="_blank">
              {{ .Name }}
            </a>
            {{ end }}
            {{ end }}
          </div>

          <div class="column">
            <div class="buttons">
              <a class="button is-black is-inverted is-outlined" href="{{ $github }}" target="_blank">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>
                  GitHub
                </span>
              </a>

              <a class="button is-slack-green is-inverted is-outlined" href="{{ $support }}" target="_blank">
                <span class="icon">
                  <i class="fa fa-comments"></i>
                </span>
                <span>
                  Support
                </span>
              </a>

              <a class="button is-slack-green is-inverted is-outlined" href="{{ $slack }}" target="_blank">
                <span class="icon">
                  <i class="fab fa-slack"></i>
                </span>
                <span>
                  Slack
                </span>
              </a>

              <a class="button is-info is-inverted is-outlined" href="{{ $mail }}" target="_blank">
                <span class="icon">
                  <i class="far fa-paper-plane"></i>
                </span>
                <span>
                  Mailing list
                </span>
              </a>

              <a class="button is-twitter-blue is-inverted is-outlined" href="{{ $twitter }}" target="_blank">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Twitter
                </span>
              </a>

              <a class="button is-linkedin-blue is-inverted is-outlined" href="{{ $linkedin }}" target="_blank">
                <span class="icon">
                  <i class="fab fa-linkedin"></i>
                </span>
                <span>
                  LinkedIn
                </span>
              </a>

              <a class="button is-black is-inverted is-outlined" href="{{ $youtube }}" target="_blank">
                <span class="icon">
                  <i class="fab fa-youtube"></i>
                </span>
                <span>
                  YouTube
                </span>
              </a>

              {{with (not (in (.Site.Language.Get "disableKinds") "RSS")) }}
              <a class="button is-black is-inverted is-outlined" href="{{ $rss }}" target="_blank" title="rss">
                <span class="icon">
                  <i class="fa fa-rss"></i>
                </span>
                <span>
                  RSS feed
                </span>
              </a>
              {{ end }}
            </div>
          </div>
        </div>

        <hr class="has-background-dark" />

        <p class="has-text-light has-text-weight-light">
          Copyright &copy; {{ $year }} {{ $author}}
        </p>
      </div>
    </div>
  </div>
</footer>
