{{ $title    := site.Params.v1.title }}
{{ $subtitle := site.Params.v1.subtitle | markdownify }}
{{ $img      := printf "img/%s" site.Params.v1.image | relURL }}
{{ $buttons  := site.Params.v1.buttons }}
<section id="v1" class="container box p-6 my-6">
  <div class="columns is-vcentered">
    <div class="column is-half">
      <div class="content has-text-left">
        <h1 class="title is-2">{{ $title }}</h1>
        <div class="subtitle is-5">
          {{ $subtitle }}
        </div>
        <div class="buttons">
          {{ range $buttons }}
          <a href="{{ .url }}" class="button is-medium is-{{ .color | default "white" }}">{{ .text }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="column is-half is-hidden-mobile">
      <figure class="image">
        <img src="{{ $img }}" alt="{{ $title }} illustration">
      </figure>
    </div>
  </div>
</section>
