{{ $title      := site.Params.community.title }}
{{ $summary    := site.Params.community.summary | markdownify }}
{{ $img        := printf "img/%s" site.Params.community.image | relURL }}
{{ $highlights := site.Params.community.highlights }}
<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content">
        <h2 class="title is-1">{{ $title }}</h2>
        <p>{{ $summary }}</p>
      </div>
      <div class="columns is-multiline has-text-left my-3">
        {{ range $highlights }}
        <div class="column is-one-third is-flex">
          <div class="card">
            <div class="card-header">
              <p class="card-header-title has-background-{{ .titleBgColor | default "dark" }} has-text-{{ .titleColor | default "white" }}">
                <span class="icon">
                  <i class="{{ .icon | default "fas fa-info" }}" aria-hidden="true"></i>
                </span>
                {{ .title }}
              </p>
            </div>
            <div class="card-content">
              <div class="content">
                {{ .text | markdownify }}
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
