{{ $title    := site.Params.flux.title | default site.Title }}
{{ $subtitle := site.Params.flux.subtitle | default site.Params.description | markdownify }}
{{ $logo     := printf "img/logos/%s" site.Params.logos.hero | relURL }}
{{ $buttons  := site.Params.flux.buttons }}
<section class="hero is-medium is-flux">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-half">
          <div class="content">
            <h1 class="title is-1">{{ $title }}</h1>
            <p class="subtitle is-4">{{ $subtitle }}</p>
          </div>

          <div class="field is-grouped">
            {{ range $buttons }}
            <div class="control">
              <a href="{{ .url }}" class="button is-medium is-{{ .color | default "white" }}">{{ .text }}</a>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="column is-half is-hidden-touch">
          <div class="terminal">
            <div class="icons"><span></span></div>
            <div class="terminal-title">Terminal</div>
            <pre class="terminal-content">
              <asciinema-player loop autoplay font-size="14px" rows=14 src="flux.cast"></asciinema-player>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
