{{ $title    := site.Params.overview.title }}
{{ $summary  := site.Params.overview.summary | markdownify }}
{{ $features := site.Params.overview.features }}
<section class="hero pb-6">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="content">
        <h2 class="title is-1">{{ $title }}</h2>
        <p>{{ $summary }}</p>
      </div>
      <div class="columns is-multiline">
        {{ range $features }}
        <div class="column is-one-third">
          <span class="icon is-large has-text-primary">
            <i class="{{ .icon }}"></i>
          </span>
          <div class="content">
            <h3 class="title is-5">{{ .header }}</h3>
            <p>{{ .text | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
