---
title: Flux - the GitOps family of projects
description: > 
  Flux is a set of continuous and progressive delivery solutions for Kubernetes, and they are open and extensible. 
  
  The APIs of Flux are stable now.
benefits:
  - title: GitOps for apps and infrastructure
    icon: fas fa-handshake
    description: >
      Flux and [Flagger](https://github.com/fluxcd/flagger) deploy apps with canaries, feature flags,
      and A/B rollouts. Flux can also manage any Kubernetes resource. Infrastructure and workload
      dependency management is built in.
  - title: Declarative & Automated
    icon: fab fa-git-square
    description: >
      Describe the entire desired state of your system in [Git](https://git-scm.com).
      This includes apps, configuration, dashboards, monitoring, and everything else.
      Use [YAML](https://yaml.org) to enforce conformance to the declared system.
      You don't need to run [kubectl](https://kubectl.docs.kubernetes.io) because all
      changes are synced automatically.
  - title: Auditable
    icon: fas fa-code
    description: >
      Everything is controlled through pull requests. Your Git history provides a sequence of
      transactions, allowing you to recover state from any snapshot.
features:
  - title: Push to Git and Flux does the rest
    icon: fas fa-robot
    description: >
      Flux enables application deployment (CD) and (with the help of
      [Flagger](https://github.com/fluxcd/flagger)) progressive delivery (PD) through automatic
      reconciliation. Flux can even push back to Git for you with automated container image updates
      to Git (image scanning and patching).
  - title: Works with your existing tools
    icon: fas fa-wrench
    description: >
      Flux works with your Git providers (GitHub, GitLab, Bitbucket, can even use s3-compatible buckets
      as a source), all major container registries, fully integrates [with
      OCI](/flux/cheatsheets/oci-artifacts) and all CI workflow providers.
  - title: Designed with security in mind
    icon: fas fa-lock
    description: >
      Pull vs. Push, least amount of privileges, adherence to Kubernetes security policies and
      tight integration with security tools and best-practices. Read more about [our security
      considerations](/flux/security).
  - title: Does Multi-Tenancy (and “Multi-everything”)
    icon: fas fa-people-roof
    description: >
      Flux uses true Kubernetes RBAC via impersonation and supports multiple Git repositories.
      Multi-cluster infrastructure and apps work out of the box with Cluster API: Flux can use
      one Kubernetes cluster to manage apps in either the same or other clusters, spin up
      additional clusters themselves, and manage clusters including lifecycle and fleets.
  - title: Works with any Kubernetes and all common tooling
    icon: fas fa-dharmachakra
    description: >
      Support for e.g. [Kustomize](https://kustomize.io), [Helm](https://helm.sh); GitHub, GitLab, Harbor
      and custom webhooks; notifications on Slack and [other chat
      systems](/flux/components/notification/provider/); RBAC, and policy-driven validation (OPA, Kyverno,
      admission controllers).
  - title: Dashboards love Flux
    icon: fas fa-wand-magic-sparkles
    description: >
      No matter if you use one of [the Flux UIs](/ecosystem/#flux-uis--guis) or a hosted cloud offering from
      your cloud vendor, Flux has a thriving ecosystem of integrations and products built on top of it and
      all have great dashboards for you.
---

{{% home/announce emoji="📢" url="/blog/2023/12/flux-v2.2.0/" %}}
Announcing Flux 2.2 GA
{{% /home/announce %}}

<div class="hero-gitops">
  {{% blocks/hero title="Flux - the GitOps family of projects" color="primary"
  height="full" link_title="Get started" link_url="/flux/get-started/" %}}
  Flux is a set of continuous and progressive delivery solutions for Kubernetes that are open and extensible.
 
  The latest version of Flux brings many new features, making it more flexible and versatile.

  Flux is a CNCF Graduated project.
  {{% /blocks/hero %}}

  <div class="lead-flux">
  {{< blocks/lead >}}
  {{< home/next_event >}}
  {{< /blocks/lead >}}
  </div>
</div>

<!-- Benefits & Features -->

{{< home/benefits >}}
{{< home/features >}}




<!-- Community -->
<div class="section-community">
  {{< blocks/section color="dark" type="calendar-row">}}
  {{< home/calendar_dark >}}
  {{< /blocks/section >}}

  {{< blocks/lead color="dark" >}}
  <h2 class="section-label">
    Community
  </h2>

  <p>The Flux project aspires to be the vendor-neutral home for GitOps in a Cloud Native world.
  What we achieved up until today is only possible because of <a href="/community">our community</a>,
  that is very easy to work with.</p>

  {{< /blocks/lead >}}

  <div class="subsection-community-row">
    {{< blocks/section color="dark" type="community-row">}}

    {{< home/community icon="fab fa-github" title="GitHub Discussions" >}}
    <a href="https://github.com/fluxcd/flux2/discussions">Join the conversation in GitHub Discussions</a>. Everything Flux related ranging from specifications and feature planning to Show & Tell happens here.

    {{< /home/community >}}


    {{< home/community icon="fab fa-slack" title="Slack" >}}
    If you want to talk to the Flux team and community in real-time, join us on Slack. This is a great way to get to know everyone.

    Get a <a href="https://slack.cncf.io/">Slack invite</a>, or go to the <a href="https://cloud-native.slack.com/messages/flux"><code>#flux</code> channel</a>.


    {{< /home/community >}}


    {{< home/community icon="fa fa-paper-plane" title="Mailing list" >}}
    <a href="https://lists.cncf.io/g/cncf-flux-dev">Join our (low-traffic) mailing list</a> to stay up to day on announcements and sporadic discussions.

    {{< /home/community >}}

    {{< /blocks/section >}}
  </div>

</div>



<div id="adopters-wall">
  {{< home/adopters_wall >}}
</div>



<div class="d-flex flex-wrap justify-content-center align-items-center mb-5">
  <div class="p-2">
    <a href="https://weave.works">
      <h2 class="text-muted font-weight-light">First created at</h2>
    </a>
  </div>
  <div class="p-2">
  <a href="https://weave.works">
    <img src="/img/logos/weaveworks-horizontal.png" alt="Weaveworks" style="height:2rem;"/>
  </a>
</div>
</div>

<!-- ADOPTERS SUBSECTION -->
{{% blocks/lead title="Who is using Flux" color="primary" %}}
<h2 class="section-label">Who is using Flux</h2>

Flux is a CNCF Graduated project and was categorised as "Adopt" on the <a href="https://radar.cncf.io/2020-06-continuous-delivery">CNCF CI/CD Tech Radar</a> (alongside Helm).

Some of the biggest organisations have adopted the Flux family of projects for their GitOps needs.

See <a href="/adopters">who is part of our community</a> and how about joining yourself?
{{< /blocks/lead >}}

{{< home/endorsements >}}


<!-- RESOURCES HERE -->

<div class="section-resources">

  {{< blocks/lead color="primary" >}}
  <h2 class="section-label">Resources</h2>

  <p>If you are new to Flux, you might want to check out some of the following resources to get started.</p>
  {{< /blocks/lead >}}

  <div class="subsection-resources">
  {{< blocks/section color="primary" type="resources" >}}
  {{< home/resources_section >}}
  {{< /blocks/section >}}
  </div>

  {{< blocks/lead color="primary" >}}
  <p class="text-center">Find more on our dedicated <a href="/resources">resources page</a>.</p>
  {{< /blocks/lead >}}


</div>

{{< blocks/lead color="dark" >}}
<h2 class="section-label">Made possible by our contributors</h2>
<p class="text-muted">We welcome contributors of any kind. The components of Flux are on Kubernetes core
  controller-runtime, so anyone can contribute and its functionality can be extended very easily.</p>

{{< home/contributors >}}
{{< /blocks/lead >}}

{{< home/cncf >}}
