---
title: Flux - the GitOps family of projects
description: > 
  Flux is a set of continuous and progressive delivery solutions for Kubernetes, and they are open and extensible. 
  
  The APIs of Flux are stable now.
  Now is the best time to start using Flux, or start your migration if you are a legacy user.
---

{{% blocks/announce emoji="📢" url="/blog/2021/09/server-side-reconciliation-is-coming/" %}}
Server-Side Apply has landed in Flux!
{{% /blocks/announce %}}

<div class="hero-gitops">
  {{% blocks/hero title="Flux - the GitOps family of projects" color="primary"
                  height="full" link_title="Get started" link_url="/flux/get-started/" %}}
  Flux is a set of continuous and progressive delivery solutions for Kubernetes that are open and extensible.

  The latest version of Flux brings many new features, making it more flexible and versatile.

  Flux is a CNCF Incubating project.
  {{% /blocks/hero %}}

  <div class="lead-flux">
  {{< blocks/lead >}}

  <h2 id="flux-facts">Flux in short</h2>

  {{< /blocks/lead >}}
  </div>
</div>

<!-- used in ./content/en/flux/_index.md as well -->

<div id="feature-list">
{{% blocks/section color="white" %}}
  <div class="feature-items">

  {{< blocks/featureitem emoji="🤝" caption="Flux provides GitOps for both apps and infrastructure" >}}
    Flux and Flagger deploy apps with canaries, feature flags, and A/B rollouts. Flux can also manage any Kubernetes resource. Infrastructure and workload dependency management is built in.
  {{< /blocks/featureitem >}}
  
  {{< blocks/featureitem emoji="🤖" caption="Just push to Git and Flux does the rest" >}}
    Flux enables application deployment (CD) and (with the help of Flagger) progressive delivery (PD) through automatic reconciliation. Flux can even push back to Git for you with automated container image updates to Git (image scanning and patching).
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="🔩" caption="Flux works with your existing tools" >}}
    Flux works with your Git providers (GitHub, GitLab, Bitbucket, can even use s3-compatible buckets as a source), all major container registries, and all CI workflow providers.
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="🔒" caption="Flux is designed with security in mind" >}}
    Pull vs. Push, least amount of privileges, adherence to Kubernetes security policies and tight integration with security tools and best-practices. Read more about <a href="/flux/security">our security considerations</a>.
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="☸️" caption="Flux works with any Kubernetes and all common Kubernetes tooling" >}}
    Kustomize, Helm, RBAC, and policy-driven validation (OPA, Kyverno, admission controllers) so it simply falls into place.
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="🤹" caption="Flux does Multi-Tenancy (and “Multi-everything”)" >}}
    Flux uses true Kubernetes RBAC via impersonation and supports multiple Git repositories. Multi-cluster infrastructure and apps work out of the box with Cluster API: Flux can use one Kubernetes cluster to manage apps in either the same or other clusters, spin up additional clusters themselves, and manage clusters including lifecycle and fleets.
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="📞" caption="Flux alerts and notifies" >}}
  Flux provides health assessments, alerting to external systems, and external events handling. Just “git push”, and get notified on Slack and <a href="/flux/components/notification/provider/">other chat systems</a>.
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="👍" caption="Users trust Flux" >}}
  Flux is a CNCF Incubating project and was categorised as "Adopt" on the <a href="https://radar.cncf.io/2020-06-continuous-delivery">CNCF CI/CD Tech Radar</a> (alongside Helm).
  {{< /blocks/featureitem >}}

  {{< blocks/featureitem emoji="💖" caption="Flux has a lovely community that is very easy to work with!" >}}
    We welcome contributors of any kind. The components of Flux are on Kubernetes core controller-runtime, so anyone can contribute and its functionality can be extended very easily.
  {{< /blocks/featureitem >}}
  </div>
{{% /blocks/section %}}
</div>


<div id="adopters-wall">
  {{% blocks/adopters_wall %}}
</div>


<!-- gitops -->

{{% blocks/lead title="GitOps at your fingertips" color="primary" %}}

<h2 class="section-label">GitOps at your fingertips</h2>

Flux is a collection of tools for keeping <a href="https://kubernetes.io/">Kubernetes</a> clusters
in sync with sources of configuration (like Git repositories), and automating updates to configuration
when there is new code to deploy.

{{< /blocks/lead >}}

{{< blocks/section type="features" color="white" >}}

{{% blocks/feature icon="fab fa-git-square fa-3x" title="Declarative" height="auto" color="blue" %}}
Describe the entire desired state of your system in [Git](https://git-scm.com). This includes apps, configuration,
dashboards, monitoring, and everything else.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-robot fa-3x" title="Automated" height="auto" color="blue" %}}
Use [YAML](https://yaml.org) to enforce conformance to the declared system. You don't need to run
[`kubectl`](https://kubectl.docs.kubernetes.io/) because all changes are synced automatically.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-code fa-3x" title="Auditable" height="auto" color="blue" %}}
Everything is controlled through pull requests. Your Git history provides a sequence of transactions, allowing you to
recover state from any snapshot.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-drafting-compass fa-3x" title="Designed for Kubernetes" height="auto" color="blue" %}}
Declaratively configurable using Custom Resources, state reports in the
[object's status](https://kubernetes.io/docs/concepts/overview/working-with-objects/kubernetes-objects/#object-spec-and-status)
and via [Kubernetes Events](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-application-introspection/),
and integrations with Kubernetes RBAC
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-box-open fa-3x" title="Out-of-the-box integrations" height="auto" color="blue" %}}
Support for e.g. [Kustomize](https://kustomize.io), [Helm](https://helm.sh); GitHub, GitLab, Harbor and custom
webhooks; notifications to most team communication platforms; and many more.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-cube fa-3x" title="Extensible" height="auto" color="blue" %}}
Easily create a continuous delivery solution with only the components you need, or use the [GitOps Toolkit](#gitops-toolkit)
to extend Flux.
{{% /blocks/feature %}}

{{< /blocks/section >}}


<!-- ADOPTERS SUBSECTION -->
{{% blocks/lead title="Who is using Flux" color="primary" %}}
<h2 class="section-label">Who is using Flux</h2>

Some of the biggest organisations have adopted the Flux family of projects for their GitOps needs.

See <a href="/adopters">who is part of our community</a> and how about joining yourself?
{{< /blocks/lead >}}

{{< blocks/carousel >}}



<!-- Community -->
<div class="section-community">
{{< blocks/lead color="dark" >}}

<h2 class="section-label">
  Community
</h2>

<p>The Flux project aspires to be the vendor-neutral home for GitOps in a Cloud Native world.
What we achieved up until today is only possible because of <a href="/community">our community</a>.</p>

{{< /blocks/lead >}}

<div class="subsection-community-row">
  {{< blocks/section color="dark" type="community-row">}}

  {{< blocks/community icon="fab fa-github" title="GitHub Discussions" >}}
  <a href="https://github.com/fluxcd/flux2/discussions">Join the conversation in GitHub Discussions</a>. Everything Flux related ranging from specifications and feature planning to Show & Tell happens here.

  {{< /blocks/community >}}


  {{< blocks/community icon="fab fa-slack" title="Slack" >}}
  If you want to talk to the Flux team and community in real-time, join us on Slack. This is a great way to get to know everyone.

  Get a <a href="https://slack.cncf.io/">Slack invite</a>, or go to the <a href="https://cloud-native.slack.com/messages/flux"><code>#flux</code> channel</a>.


  {{< /blocks/community >}}


  {{< blocks/community icon="fa fa-paper-plane" title="Mailing list" >}}
  <a href="https://lists.cncf.io/g/cncf-flux-dev">Join our (low-traffic) mailing list</a> to stay up to day on announcements and sporadic discussions.

  {{< /blocks/community >}}

  {{< /blocks/section >}}
</div>

{{< blocks/section color="dark" type="calendar-row">}}
{{< blocks/calendar >}}
{{< /blocks/section >}}

</div>

<!-- RESOURCES HERE -->

<div class="section-resources">

  {{< blocks/lead color="primary" >}}
  <h2 class="section-label">Resources</h2>

  <p>If you are new to Flux, you might want to check out some of the following resources to get started.</p>

  <p>Find more on our dedicated <a href="/resources">resources page</a>.</p>
  {{< /blocks/lead >}}

  <div class="subsection-resources">
  {{% blocks/section color="primary" type="resources" %}}

  {{% blocks/resource
    youtube="1X3JgCnRNsw"
    title="Flux CD v2 - Kubernetes GitOps (CNCFMinutes 20)" %}}
  Saiyam provides an excellent introduction to Flux's architecture and its powerful features with a quick demo of Bootstraping using FluxCLI.
  {{% /blocks/resource %}}

  {{% blocks/resource
    youtube="5u45lXmhgxA"
    title="Full GitOps Tutorial: Getting started with Flux CD" %}}
  Anaïs Urlichs walks you through getting started with Flux, installing the Starboard Helm Chart through GitOps best practices, managing your app, and setting up notifications and monitoring using Flux.
  {{% /blocks/resource %}}

  {{% blocks/resource
    youtube="PFLimPh5-wo"
    title="The FASTEST way to deploy apps to Kubernetes" %}}
  Techno Tim shows how Flux can be leveraged to monitor git repositories, source control, image container repositories, helm repositories, and more.
  {{% /blocks/resource %}}

  {{% blocks/resource
    youtube="cR2eCMbiZg4"
    title="GitOps with GitHub Actions & Flux with Kingdon Barrett" %}}
  Kingdon Barret demos of GitHub Actions and three different methods for doing Flux deployment automation using SemVer with GitRepository Source, HelmRelease, and Image Update Automation.
  {{% /blocks/resource %}}

  {{% blocks/resource
    url="https://youtube.com/playlist?list=PLwjBY07V76p53FP85y03psCnb95u095Do"
    thumbnail="BrYgx4cB7p4"
    title="Flux at GitOps Con, KubeCon, CloudNativeCon EU 2022" %}}
  A playlist with a compilation of all talks featuring Flux during GitOpsCon & KubeCon / CloudNativeCon EU 2022 (May 17 – 20).
  {{% /blocks/resource %}}

  {{% blocks/resource
    url="https://www.youtube.com/playlist?list=PL9lTuCFNLaD0NVkR17tno4X6BkxsbZZfr"
    thumbnail="qCDWsIcFU-A"
    title="GitOps Days 2022" %}}
  Playlist from GitOps Days 2022 on June 8-9, 2022 featuring Flux integrators, end-users/adopters, and maintainers.
  {{% /blocks/resource %}}

  {{% /blocks/section %}}
  </div>
  </div>

  <!-- OTHER FLUX PROJECTS -->
  <div class="section-other-flux-projects">
  {{< blocks/lead color="blue">}}

  <h2 class="section-label">Other Flux projects</h2>

  {{< /blocks/lead >}}

  {{% blocks/section color="white" %}}

  <p id="flagger"></p>
{{% blocks/project title="Flagger"
    image="/img/flagger-gitops.png" image-align="right" bg-color="green"
    button1-url="/flagger" %}}
Kubernetes Operator for the automation of promoting canary deployments using Istio, Linkerd, App Mesh, NGINX, Skipper, Contour, Gloo or Traefik routing for traffic shifting, and Prometheus metrics for canary analysis.

The canary analysis can be extended with webhooks for running system integration/acceptance tests, load tests, or any other custom validation.
{{% /blocks/project %}}

  <p id="gitops-toolkit"></p>
{{% blocks/project title="GitOps Toolkit"
    image="/img/building-blocks.svg" image-align="left" bg-color="blue"
    button1-url="/flux/gitops-toolkit/source-watcher/"
    button2-url="/flux/components/" %}}
The set of APIs and controllers that make up the runtime for Flux. You can use the GitOps Toolkit to extend Flux, and to build your own systems for continuous delivery.
{{% /blocks/project %}}

{{% blocks/project title="Flux v1 and Helm Operator"
    image="/img/logos/flux-horizontal-color.png" image-align="right" bg-color="white"
    button1-url="/legacy/flux" button1-caption="Flux v1 Documentation" button1-color="blue"
    button2-url="/legacy/helm-operator/" button2-caption="Helm Operator Documentation" button2-color="blue" %}}
We owe our success and good reputation as GitOps project to Flux and Helm Operator. They are the v1 iteration of our project and currently in [maintenance mode](https://github.com/fluxcd/flux/issues/3320).

We **strongly advise** everyone to familiarise themselves with the latest version of Flux and [start the process of migrating](/flux/migration/).
{{% /blocks/project %}}

{{% /blocks/section %}}
  </div>

{{< blocks/lead color="dark" >}}
<h2 class="section-label">Made possible by our contributors</h2>

{{< blocks/contributors >}}
{{< /blocks/lead >}}

{{< blocks/cncf >}}
