{{ if isset .Site.Params "algolia_docsearch" }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

{{ $calendar := resources.Get "js/calendar.js" | js.Build "calendar.js" }}
<script type="text/javascript" src="{{ $calendar.RelPermalink }}" defer></script>

<script type="text/javascript">

function docsearchInit(inputSelector) {
    return docsearch({
        apiKey: '45f9f14d53600b0a2cafa46a26ee10f4',
        indexName: 'fluxcd',
        inputSelector: inputSelector,
        {{ if in .Permalink "/legacy" }}
        algoliaOptions: { 'facetFilters': ["tags:legacy"] },
        {{ else }}
        algoliaOptions: { 'facetFilters': ["tags:current"] },
        {{ end }}
        debug: false // Set debug to true if you want to inspect the dropdown
    });
}

docsearchInit('.td-search-input');
</script>
{{ end }}
