name: netlify
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-workflow]
jobs:
  publish:
    if: github.repository == 'fluxcd/website'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy current production branch on Netlify
        run: |
          curl -X POST -d {} '${{ secrets.NETLIFY_BUILD_HOOK }}?trigger_branch=v2-6'
